@using OnlineShop.Core.Models
@*<link rel="stylesheet" href="/text.css" type="text/css" />
<h1 class="text-center">Create an Item</h1>
<form class="mx-auto half-width col-5" method="post" action="/Products/Create">
    <div class="top-border-line primary-separator"></div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name..." name="Name">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" step="0.01" class="form-control" id="price" placeholder="Price..." name="Price">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description..." name="Description">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" placeholder="Category..." name="Category">
    </div>
    <div class="top-border-line primary-separator"></div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn SMS-bg-color">Create</button>
    </div>
</form>*@

@model CategoryListViewModel
@{
    ViewData["Title"] = "Create Category";
}

<div class="row">
    <div class="col-4">
        <form id="edit" method="post">
          <h2>Create Category</h2>
          <a onclick="window.location.href='managecategories'" class="btn btn-block btn-warning btn-sm" >Back</a>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-4">
                    <button id="login-submit" type="submit" class="btn btn-success btn-block">Submit</button>
                </div>
                <!-- /.col -->
            </div>
            @if (ViewBag.Message != null)
             {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
            </script>
             }
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}