@using OnlineShop.Core.Models
@model CategoryListViewModel
@{
    ViewData["Title"] = "Create Category";
}

<div class="row">
    <div class="col-4">
        <form id="edit" method="post">
          <h2>Create Category</h2>
          <a onclick="window.location.href='managecategories'" class="btn btn-block btn-warning btn-sm" >Back</a>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-4">
                    <button id="login-submit" type="submit" class="btn btn-success btn-block">Submit</button>
                </div>
                <!-- /.col -->
            </div>
            @if (ViewBag.Message != null)
             {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
            </script>
             }
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}