@using OnlineShop.Core.Models
@model CategoryListViewModel
@{
    ViewData["Title"] = "Item Edit";
}
<div class="row">
    <div class="col-4">
        <h2>Edit Category</h2>
        <form id="edit" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-4">
                    <button id="login-submit" type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <!-- /.col -->
            </div>
             @if (ViewBag.Message != null)
             {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
            </script>
             }
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
