<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineShop.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="admin" asp-controller="Home" asp-action="Index">OnlineShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    @*    <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="admin" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="admin" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Go to user area</a>
                        </li>
                                <li><div class="dropdown">
                            <button class="dropbtn">User</button>
                            <div class="dropdown-content">
                                <a href="/admin/user/manageusers">Manage Users</a>
                            </div>
                            </div>
                                </li>
                        <li><div class="dropdown">
                            <button class="dropbtn">Item</button>
                            <div class="dropdown-content">
                                <a href="/admin/item/manageitems">Manage Items</a>
                                <a href="/admin/item/create">Create Item</a>
                            </div>
                            </div>
                                </li>
                    <li><div class="dropdown">
                            <button class="dropbtn">Category</button>
                            <div class="dropdown-content">
                                <a href="/admin/category/managecategories">Manage Categories</a>
                                <a href="/admin/category/create">Create Category</a>
                            </div>
                            </div>
                            </li>
                            <li><div class="dropdown">
                            <button class="dropbtn">Order</button>
                            <div class="dropdown-content">
                                <a href="/admin/order/manageorders">Manage Orders</a>
                            </div>
                            </div>
                            </li>

                    </ul>
                    <partial name="_LoginPartialAdmin" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - OnlineShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
