@using OnlineShop.Core.Models
@model OrderCreateViewModel
@{
    ViewData["Title"] = "Create Order";
}

<div class="row">
    <div class="col-4">
        <form id="edit" method="post">
          <a onclick="window.location.href='cart'" class="btn btn-block btn-warning btn-sm" >Back</a>
          <h2>Send Order</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" aria-required="true" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" aria-required="true" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" aria-required="true" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalInformation" class="form-label"></label>
                <input asp-for="AdditionalInformation" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="AdditionalInformation" class="text-danger"></span>
            </div>

            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-4">
                    <button id="login-submit" type="submit" class="btn btn-success btn-block">Submit</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}