@using OnlineShop.Core.Models
@model ItemEditViewModel
@{
    ViewData["Title"] = "Item Edit";
}
<div class="row">
    <div class="col-4">
        <h2>Edit Item</h2>
        <form id="edit" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="form-label"></label>
                <input asp-for="ImageUrl" class="form-control" aria-required="true" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="CategoryId" class="form-label">Category</label>
                <select asp-for="CategoryId" class="form-control" aria-required="true">
                    @foreach(var category in Model.Categories)
                    {
                        <option value=@category.Id>@category.Name</option>
                    }
                    </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-4">
                    <button id="login-submit" type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
